@model IEnumerable<BookstoreClient.Models.BookModel>

@{
    ViewData["Title"] = "Books Database";
}

<h1>Books Database</h1>

<p>
    <a asp-action="AddBook">Add New Book</a>
</p>

<form onsubmit="filterButtonHandler(event)">
    <p>
        Filter by Genre: <input type="text" />
        <button type="submit">Filter</button>
        <button onclick="sort()"> Click to sort by @Html.DisplayNameFor(model => model.Price)</button>
    </p>
</form>

<table class="table books-table">
    <thead>
        <tr>
            <th>
                Book ID
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    <p style="min-width:300px">@Html.DisplayFor(modelItem => item.BookId)</p>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td class="genre-name">
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                    <p style="max-width:400px"> @Html.DisplayFor(modelItem => item.Description)</p>
            </td>
            <td class="price">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditBook", new { id = item.BookId }) |
                    @Html.ActionLink("Delete", "RemoveBook", new { id = item.BookId })
            </td>
        </tr>
}
    </tbody>
</table>
